<!DOCTYPE html>
<html>
  <head>
  	<title>Game of Wits
  	</title>
  </head>
 <body>

	<p>This site is a tribute to "A Song of Ice and Fire" by <a href="http://www.georgerrmartin.com/">George R. R. Martin</a>.  HBO's "Game of Thrones" is a brilliant adaptation of the novels and a must see.  My thanks goes to them.</p>  

	<p><a href="http://www.hbo.com/">HBO</a> has done a great job encouraging the growth of the fan base.  Check out <a href="http://www.jointherealm.com/">http://www.jointherealm.com/</a> to create your own coat of arms, or share one from the show.  I used that site to create the menu at the bottom of the page.</p>

 </body>
</html>  