 <body>

	<p>This is not your typical Game of Wits.  You will be given 3 quotes from George R. R. Martin's "A Song of Ice and Fire."  Below you can choose to study by cycling through the quotes, you might even find a surprise guest.  When you're ready begin the game.</p>
	<br>
	<p>Good luck.</p>

 </body>
