<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Game of Wits
  		</title>
		<link href='http://fonts.googleapis.com/css?family=Marcellus' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>

 	<img src="/img/logo.jpg">

			<%= yield %>


	<div class="bottom">

		<a href="/"><img alt="home page" height="120" width="90" src="/img/home.png"></a>

		<a href="/study"><img alt="about" height="120" width="90" src="/img/study.png"></a>

		<a href="/wits"><img alt="about" height="120" width="90" src="/img/play.png"></a>

		<a href="/about"><img alt="about" height="120" width="90" src="/img/about.png"></a>
	
	<br><br><br><br>
	</div>

	</body>
</html>