body{

	font-family: 'Marcellus', serif;
	background-color: black;
	text-align: center;	
	color: #CCCCCC;

	width: 1024px;
	margin: 0 auto;
		margin-top: 0px;
		margin-right: auto;
		margin-bottom: 0px;
		margin-left: auto;
 
}

.answers {
	font-family: 'Marcellus', serif;
}

.quote {
	font-family: 'Marcellus', serif;
	font-size: 20px;
	width: 1024px;
	margin: 0 auto;
		margin-top: 0px;
		margin-right: auto;
		margin-bottom: 0px;
		margin-left: auto;

}

.bottom {
	height: 100px;
	vertical-align : bottom;
}


table {
	font-family: 'Marcellus', serif;
	border="0" 
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}

td
{
	text-align: left;	
	padding:15px;
}


h2 {
	color:#006B8F;
}

a:visited {color:#006B8F;} 
a:hover {color:#FF0000;} 
a:link {color:#006B8F;} 
